<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobile Website Sanity Testing Framework">
    <suite name="Mobile Website Sanity Testing Framework">

  <test name="Phone number validation on different pages">

    <classes>

      <class name="com.proptiger1.Mailer_Number_Check">     

      </class>

      <class name="com.proptiger1.TimeStamp">

      </class>

    </classes>

  </test>

  <test name="All Page Accessibility Testing Across Devices and Browsers ">

    <classes>

      <class name="com.proptiger1.MobileTestBed">     

      </class>

      <class name="com.proptiger1.Cross_PlatForm">

         <methods>

         <include name="CrossPlatForm"/>           

         </methods>

      </class>

      <class name="com.proptiger1.TimeStamp">

      </class>

    </classes>

  </test>  
     <test name="Desktop Responsive Page Testing Across Devices and Browsers">
    <classes>
      <class name="com.proptiger1.DesktopTestBed">     
      </class>
      <class name="com.proptiger1.DesktopResponsive_Test">
      </class>
      <class name="com.proptiger1.TimeStamp">
      </class>
    </classes>
    </test>
    </suite>
